@model CoursePageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Portal</title>
    <link rel="stylesheet" href="css/nullStyle.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <a class="logo" asp-action="Index" asp-controller="home">
                    <img  src="~/img/logo.jpg" />
                </a>
                <div class="search">
                    <form asp-action="Index" asp-controller="Home" method="post">
                        <input type="text" id="searchstring" asp-for="SearchString" placeholder="search by skill name or course name..." />
                        <button type="submit">&#xf0da;</button>
                        @{
                            if(Model.PageNumber > 1){
                                <a asp-action="Index" asp-controller="Home" asp-route-searchString="@Model.SearchString" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous page</a>
                            }

                            if(Model.PageCount > Model.PageNumber){
                                <a asp-action="Index" asp-controller="Home" asp-route-searchString="@Model.SearchString" asp-route-pageNumber="@(Model.PageNumber + 1)">Next page</a>
                            }
                        }
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                    <div class="menu_item"><a asp-action="Logout" asp-controller="Authorize">Logout</a></div>
                                    <div class="menu_item"><a asp-action="Profile" asp-controller="User">Profile</a></div>
                            }
                            else
                            {

                                    <div class="menu_item"><a asp-action="Login" asp-controller="Authorize">Login</a></div>
                                    <div class="menu_item"><a asp-action="Register" asp-controller="Authorize">Register</a></div>
                            }
                        }
                    </form>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="main_container">
                <div class="courses">
                    @{
                        foreach(var course in Model.CourseList){
                                <a class="courses_item_container" asp-action="StartOrGetCourse" asp-controller="CoursePassage" asp-route-courseId="@course.Id">
                                    <div>
                                        <div class="courses_item">
                                            <div class="for_img">
                                                <img src="https://wp-media.petersons.com/blog/wp-content/uploads/2018/01/26100309/blur-close-up-code-computer-546819.jpg" alt="">
                                            </div>
                                            <div class="courses_item_info">
                                                <div class="name">@course.Name</div>
                                                <div class="description">@course.Description</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                        }
                    }
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
</body>
</html>